{{#*inline "body"}}

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-5">
                    <h1 class="display-1 mb-3">Authentication error</h1>

            </div>
            <h2 class="text-muted"></h2>
            <p class="lead">Sorry, {{cause}}.</p>
            <a href="javascript:history.back()" class="btn btn-outline-primary">Go back</a>
        </div>
    </div>
</div>

{{/inline}}
{{> base.hbs}}