{{#*inline "body"}}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-3">
    {{!-- <div class="col-10 col-sm-8 col-lg-6">
       <img
        src='{{> CZ4R.svg}}'
        class="d-block mx-md-auto img-fluid"
        alt="CZ4R logo"
        width="500"
        height="500"
        loading="lazy"
      /> 
    </div> --}}

      <h1 class="display-1 fw-bold lh-1 mb-1">
        CZ4R, a time tracking software by Sycration 
      </h1>
      <p class="lead mb-5">
        Built using <a target="_blank" rel="noopener noreferrer" href="https://rust-lang.org">Rust</a> and <a target="_blank" rel="noopener noreferrer" href="https://htmx.org/">htmx</a>
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">

        {{#if logged_in}}
        <a href="/joblist">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              Go to job list
            </button>
      </a>
         <form action="/logout">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">
            Logout
          </button>
        </form>
       {{else}}

        <form action="/loginpage">
          <button type="submit" class="btn btn-outline-primary btn-lg px-4">
            Login
          </button>
        </form>
       {{/if}}
        
      </div>

  </div>
</div>

{{/inline}}
{{> base.hbs}}