@(worker_name: &str, job_name: &str, address: &str, date: &str, is_admin: bool)

<div class="card">
  <div class="card-header">Assigned to: @worker_name</div>
  <div class="card-body">
    <h5 class="card-title">@job_name</h5>
    <p class="card-text">@address</p>
    <p class="card-text">@date</p>
    <a href="#" class="btn btn-outline-primary">Open</a>
    @if is_admin {
    <a href="#" class="btn btn-outline-secondary">Edit</a>
    <a href="#" class="btn btn-outline-danger">Delete</a>
    }
    <!--TODO template the links when the server is ready-->
  </div>
</div>
