@(job_id: i64, worker_name: &str, job_name: &str, address: &str, date: &str, is_admin: bool)

<div class="card">
  <div class="card-header">Assigned to: @worker_name</div>
  <div class="card-body">
    <h5 class="card-title">@job_name</h5>
    <p class="card-text">@address</p>
    <p class="card-text">@date</p>
    <a href="/checkinout?id=@job_id" class="btn btn-outline-primary">Open</a>
    @if is_admin {
    <a href="/jobedit?id=@job_id" class="btn btn-outline-secondary">Edit</a>
    <a href="" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
  }
  <!--TODO template the links when the server is ready-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting job</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the assignment @job_name for @worker_name? <br>
            If @worker_name is the last assigned worker, this job will be deleted too.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href=window.location.href;">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
