<div class="row d-sm-none text-center" style="margin: 0">
    <div class="col">
      <label for="CheckInInput" class="form-label">Check in time</label>
    </div>
    <div class="col">
      <label for="CheckOutInput" class="form-label">Check out time</label>
    </div>
  </div>
  
  <div class="input-group px-3 mb-3">
    <span class="input-group-text d-none d-sm-block">Check in time</span>
    <input type="time" class="form-control" id="CheckInInput" />
    <input type="time" class="form-control" id="CheckOutInput" />
    <span class="input-group-text d-none d-sm-block">Check out time</span>
  </div>