@use super::base_html; @use crate::Job; @use super::list_html; @(title: &str, admin: bool, job: Option<Job>, list_data: &[(i64, String, bool, bool)]) @:base_html(title, admin, true,  {


  <h1 class="text-center ">
    @match &job { Some(ref job) => { Editing job @job.id } None => { Create a new job
    } }
  </h1>

  <form method="get" action="/admin/api/v1/edit-job">
    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Site name</span>
      <label for="SiteNameInput" class="form-label d-none">Site name</label>
      <input
        name="sitename"
        type="text"
        class="form-control"
        id="SiteNameInput"
        @if let Some(ref job) = job {value = "@job.sitename"}
      />
    </div>

    <div class="row d-sm-none text-center" style="margin: 0">
      <div class="col">
        <label for="ServcodeInput" class="form-label">Service code</label>
      </div>
      <div class="col">
        <label for="WorkorderInput" class="form-label">Work order</label>
      </div>
    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text d-none d-sm-block">Service code</span>
      <input
        name="servcode"
        type="text"
        class="form-control"
        id="ServcodeInput"
        @if let Some(ref job) = job {value = "@job.servicecode"}
      />
      <input
        name="workorder"
        type="text"
        class="form-control"
        id="WorkorderInput"
        @if let Some(ref job) = job {value = "@job.workorder"}

      />
      <span class="input-group-text d-none d-sm-block">Work order</span>
    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Address</span>
      <label for="AddressInput" class="form-label d-none">Address</label>
      <input
        name="address"
        type="text"
        class="form-control"
        id="AddressInput"
        @if let Some(ref job) = job {value = "@job.address"}

      />
    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Date</span>
      <label for="DateInput" class="form-label d-none">Date</label>
      <input name="date" type="date" class="form-control" id="DateInput" 
          @if let Some(ref job) = job {value = "@job.date"}

      />
    </div>

    <div
      class="border border-primary-subtle"
      style="max-height: 15em; overflow-x: hidden; overflow-y: auto"
    >
      @:list_html(list_data)
    </div>

    <input type="hidden" id="assigned" name="assigned" value="">
    <input type="hidden" id="flatrate" name="flatrate" value="">
    @if let Some(ref job) = job {
    <input type="hidden" id="jobid" name="jobid" value="@job.id">

    }

    <div class="text-center">

        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-4">
          @if job.is_some() { Submit changes } else { Create }
        </button>

    </div>
  </form>

  } )

