@use super::card_html; 
@use super::base_html; 

@(title: &str, admin: bool, logged_in: bool, job_datas: &[(i64, String, String, String, String)])

@:base_html(title, admin,  logged_in, {
    
    <div class="mt-3 mb-2 input-group d-flex justify-content-center">
        <a href="/jobedit">
            <button type="button" class="btn btn-primary">Create new job</button>
        </a>
    </div>
    <ul class="list-group list-group-flush">  @for (job_id, worker_name, job_name, address, date) in job_datas.iter() {
        <li class="list-group-item">
            @:card_html(*job_id, worker_name, job_name, address, date, admin)
        </li>}
    </ul>
}
)