@use super::card_html; 
@use super::base_html; 
@use crate::joblist::JobListPage;
@(title: &str, admin: bool, logged_in: bool, job_datas: &[(i64, Option<i64>, String, String, String, String)], start: String, end: String)

@:base_html(title, admin,  logged_in, {
    
    <div class="mt-1 mb-2 input-group d-flex justify-content-center">
        <a href="/jobedit">
            <button type="button" class="btn btn-primary">Create new job</button>
        </a>
    </div>

    <div class="mb-2 justify-content-center">
        <form id="range" method="get" class="form-inline row">
            <div class="col">
              From
              <input form="range" type="date" class="form-control mx-2" id="start_date" name="start_date" onchange="this.form.submit()" value="@start"/>
            </div>
            <div class="col">
              To
              <input form="range" type="date" class="form-control mx-2" id="end_date" name="end_date" onchange="this.form.submit()" value="@end"/>
            </div>
        </form>
    </div>
    <ul class="list-group list-group-flush">  @for (job_id, worker_id, worker_name, job_name, address, date) in job_datas.iter() {
        <li class="list-group-item">
            @:card_html(*job_id, *worker_id, worker_name, job_name, address, date, admin)
        </li>}
    </ul>
}
)