@(target: &str, array: &[(i64, &str)], selected: Option<i64>)

<div class="list-group">
    @for (id, name) in array {
    <a @if let Some(selected)=selected { @if selected==*id {} else { href="/admin/@target?worker=@id" } } else {
      href="/admin/@target?worker=@id" } class="list-group-item list-group-item-action d-flex justify-content-between align-items-center row
      @if let Some(selected) = selected {
        @if selected == *id {
          active
        }
      }
      " style="margin: 0">
      <p class="align-middle fs-4">@name</p>
    </a>
    }
  </div>