@use super::base_html;
@use crate::workerdata::WDEntry;
@use crate::Worker;
@use super::userselect_html; @(title: &str, admin: bool, logged_in: bool, selected:Option<i64>, workerlist: &[Worker], selectlist: &[(i64, &str)], entries: Option<Vec<WDEntry>>, totals: WDEntry, from: String, to: String) @:base_html(title, admin,  true, { @if !admin {
  <script>
    window.location.href = "/";
    console.log("%c🖕", "background: red; color: yellow; font-size: x-large");
  </script>
  } else {
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-4 pb-4">
      @:userselect_html("worker-data", selectlist, selected)
    </div>
    <div class="col col-md-8">
      @if let Some(selected) = selected {
        @if let Some(entries) = entries {
          <div class="card">
            <div class="card-header">
              <form id="RangeForm" action="/admin/worker-data" class="form-inline row">
                <div class="col">
                  From
                  <input form="RangeForm" type="date" class="form-control mx-2" id="start_date" name="start_date" onchange="this.form.submit()" value="@from"/>
                </div>
                <div class="col">
                  To
                  <input form="RangeForm" type="date" class="form-control mx-2" id="end_date" name="end_date"  onchange="this.form.submit()" value="@to" />
                </div>

                  <input form="RangeForm" type="hidden" name="worker" id="worker" value="@selected">
  
              </form>
            </div>
            <div class="card-body">
              <table class="table table-dark  table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Flat rate?</th>
                    <th>Hours worked</th>
                    <th>Hours driven</th>
                    <th>Miles driven</th>
                    <th>Extra expenses</th>
                  </tr>
                </thead>
                <tbody>
                  @for entry in entries {
                    <tr>
                      <td>@entry.Date</td>
                      <td>@entry.Location</td>
                      <td>@if entry.FlatRate {✅}</td>
                      <td>
                        @if entry.HoursWorked > entry.TrueHoursWorked {
                         @(format!("{:.2}", entry.HoursWorked)) <span class="text-body-secondary"><s>@(format!("{:.2}", entry.TrueHoursWorked))</s></span>
                         } else {
                           @(format!("{:.2}", entry.HoursWorked))
                        }
                      </td>
                      <td>@(format!("{:.2}", entry.HoursDriven))</td>
                      <td>@(format!("{:.2}", entry.MilesDriven))</td>
                      <td>$@(format!("{:.2}", (entry.ExtraExpCents as f64 / 100.)))</td>
                    </tr>
                  }


                  
                </tbody>
                <tfoot>
                  <tr class="table-group-divider" >
                    <td colspan="3"><b> Totals </b></td>
                    <td>@(format!("{:.2}", totals.HoursWorked))</td>
                    <td>@(format!("{:.2}", totals.HoursDriven))</td>
                    <td>@(format!("{:.2}", totals.MilesDriven))</td>
                    <td>$@(format!("{:.2}", (totals.ExtraExpCents as f64 / 100.)))</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        }
      }
        
      
    </div>
  </div>
  } } )
