@use super::base_html; @(title: &str, admin: bool, creating: bool, selected:Option<u64>) 
  
@:base_html(title, admin, { @if !admin {
  <script>
    window.location.href = "/";
    console.log("%c🖕", "background: red; color: yellow; font-size: x-large");
  </script>
  } else {
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-4 pb-4">
        <div class="d-grid gap-2 pb-4">
          <a href="/admin/worker-create" class="btn btn-outline-primary" type="button">Add worker</a>
        </div>
        <div class="list-group">
          @for (id, fname, lname) in &[(0, "Michael", "Shiff"),(1, "Cici", "Mason"),(2, "Raymond", "Wang")] {
          <a
          @if let Some(selected) = selected {
            @if selected == *id {} else {
              href="/admin/worker-edit/@id"

            }
          } else {
            href="/admin/worker-edit/@id"
          }
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center row
          @if let Some(selected) = selected {
            @if selected == *id {
              active
            }
          }
          "
          style="margin: 0"

        >
          <p class="align-middle fs-4">@fname @lname</p>
          </a>
        }
        </div>
    </div>
    <div class="col col-md-8">
      <!--TODO endpoint based on creating or updating, submit should bring to the edit page of that worker  -->
     @if !creating && selected.is_none() {

     } else {
     
      <form action="/admin/worker-edit" method="get" id="edit">
        <div class="input-group pb-2">
          <span class="input-group-text">Name</span>
          @for (id, fname, lname) in &[(0, "Michael", "Shiff"),(1, "Cici", "Mason"),(2, "Raymond", "Wang")] {
            
            @if let Some(selected) = selected {
              @if selected == *id {
                <input form="edit" type="text" aria-label="First name" placeholder="First" id="Firstname" name="Firstname" class="form-control" value="@fname">
              }
            } 
            
            @if let Some(selected) = selected {
              @if selected == *id {
                <input form="edit" type="text" aria-label="Last name" placeholder="Last" id="Lastname" name="Lastname" class="form-control" value="@lname">
              }
            }
            
          }
        </div>

        <div class="input-group pb-2">
          <span class="input-group-text">Address</span>
          <textarea form="edit" class="form-control" id="Address" name="Address" aria-label="Address" placeholder="Address">123 Real Street</textarea>
        </div>

        <div class="input-group pb-2">
          <span class="input-group-text">Phone</span>
            <input form="edit" type="tel" aria-label="Phone" placeholder="000-000-0000" id="Phone" name="Phone" class="form-control" value="123-456-7890">
        </div>

        <div class="input-group pb-3">
          <span class="input-group-text">Email</span>
            <input form="edit" type="email" aria-label="Email" placeholder="example@@example.com" id="Email" name="Email" class="form-control" value="realemail@@real.com">
        </div>

        <p class="text-center fs-4 ">Rate</p>
        <div class="container-fluid bg-secondary-subtle border pb-4  rounded">
          <div class="input-group pb-3 pt-3">
            <span class="input-group-text">Hourly $</span>
            <input form="edit"type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Hourly" placeholder="0.00" id="Hourly" name="Hourly" class="form-control" value="1.23">
          </div>

          <div class="input-group pb-3">
            <span class="input-group-text">Mileage $</span>
            <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Mileage" placeholder="0.00" id="Mileage" name="Mileage" class="form-control" value="4.56">
          </div>

          <div class="input-group ">
            <span class="input-group-text">Drive time $</span>
            <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Drivetime" placeholder="0.00" id="Drivetime" name="Drivetime" class="form-control" value="4.56">
          </div>
        </div>

        <div class="row pt-3">
          <div class="col  ">
            <div class="d-grid gap-2 ">

            <button type="submit" class="btn btn-primary">
              @if creating {
                Create
               } else if selected.is_some() {
                Submit
               }
            </button>
          </div>

          </div>
          <div class="col">
            @if selected.is_some() {
              <div class="gap-2 pb-4 text-end" >
                <div class="pb-2">
                  <a class="btn btn-outline-danger" type="button">Reset password</a>
                </div>
                <div>
                  <a class="btn btn-outline-danger" type="button">Deactivate</a>
                </div>
              </div>
            }
          </div>
        </div>
      
      </form>
    }
    </div>
</div>
<script>
function setTwoNumberDecimal(event) @{
    var hourly = document.getElementById("Hourly");
    hourly.value = parseFloat(parseFloat(hourly.value).toFixed(2));
    var mileage = document.getElementById("Mileage");
    mileage.value = parseFloat(parseFloat(mileage.value).toFixed(2));
    var drivetime = document.getElementById("Drivetime");
    drivetime.value = parseFloat(parseFloat(drivetime.value).toFixed(2));
@}
</script>
} } )




