@use super::base_html;
@use super::userselect_html; 
@use crate::Worker; 

@(title: &str, admin: bool, creating: bool, selected:Option<i64>, workerlist: &[Worker], selectlist: &[(i64, &str)])

  @:base_html(title, admin, true,  { @if !admin {
  <script>
    window.location.href = "/";
    console.log("%c🖕", "background: red; color: yellow; font-size: x-large");
  </script>
  } else {

  <div class="modal fade" id="DeactivateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deactivate worker</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to deactivate this worker? It will be accessible in the "Deactivated workers" section of the site settings page.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Deactivate</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ResetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Reset worker password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to reset this worker's password? They will have to set a new one on their next login.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Reset</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-4 pb-4">
      <div class="d-grid gap-2 pb-4">
        <a href="/admin/worker-edit?creating=true" class="btn btn-outline-primary" type="button">Add worker</a>
      </div>
      @:userselect_html("worker-edit", selectlist, selected)

    </div>
    <div class="col col-md-8">
      <!--TODO endpoint based on creating or updating, submit should bring to the edit page of that worker  -->
      @if !creating && selected.is_none() {

      } else if !creating && selected.is_some() {

      <form action="/admin/worker-edit" method="get" id="edit">
        <div class="input-group pb-2">
          @if let Some(selected) = selected {
            @for w in workerlist {
              @if selected == w.id {
          <span class="input-group-text">Name</span>
          <input form="edit" type="text" aria-label="First name" placeholder="Name" id="Name" name="Name"
            class="form-control" value="@w.name">

            <div class="input-group pb-2">
              <span class="input-group-text">Address</span>
              <textarea form="edit" class="form-control" id="Address" name="Address" aria-label="Address"
                placeholder="Address">@w.address</textarea>
            </div>
    
            <div class="input-group pb-2">
              <span class="input-group-text">Phone</span>
              <input form="edit" type="tel" aria-label="Phone" placeholder="000-000-0000" id="Phone" name="Phone"
                class="form-control" value="@w.phone">
            </div>
    
            <div class="input-group pb-3">
              <span class="input-group-text">Email</span>
              <input form="edit" type="email" aria-label="Email" placeholder="example@@example.com" id="Email" name="Email"
                class="form-control" value="@w.email">
            </div>
    
            <p class="text-center fs-4 ">Rate</p>
            <div class="container-fluid bg-secondary-subtle border pb-4  rounded">
              <div class="input-group pb-3 pt-3">
                <span class="input-group-text">Hourly $</span>
                <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Hourly"
                  placeholder="0.00" id="Hourly" name="Hourly" class="form-control" value="@(format!("{:.2}", (w.rate_hourly_cents as f64 / 100.)))">
              </div>
    
              <div class="input-group pb-3">
                <span class="input-group-text">Mileage $</span>
                <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Mileage"
                  placeholder="0.00" id="Mileage" name="Mileage" class="form-control" value="@(format!("{:.2}", (w.rate_mileage_cents as f64 / 100.)))">
              </div>
    
              <div class="input-group ">
                <span class="input-group-text">Drive time $</span>
                <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Drivetime"
                  placeholder="0.00" id="Drivetime" name="Drivetime" class="form-control" value="@(format!("{:.2}", (w.rate_drive_hourly_cents as f64 / 100.)))">
              </div>
            </div>


          }

          }
          } else {

          }
        </div>


        <div class="row pt-3">
          <div class="col  ">
            <div class="d-grid gap-2 ">

              <button type="submit" class="btn btn-primary" formaction="api/v1/create_or_change_worker">
                Submit
              </button>
            </div>

          </div>
          <div class="col">
            @if selected.is_some() {
            <div class="gap-2 pb-4 text-end">
              <div class="pb-2">
                <a class="btn btn-outline-danger" type="button" data-bs-toggle="modal"
                data-bs-target="#ResetModal"> Reset password</a>
              </div>
              <div>
                <a class="btn btn-outline-danger" type="button" data-bs-toggle="modal"
                  data-bs-target="#DeactivateModal">Deactivate</a>
              </div>
            </div>
            }
          </div>
        </div>

      </form>
      } else if creating {
        <form action="/admin/worker-edit" method="get" id="edit">
          <div class="input-group pb-2">
            <span class="input-group-text">Name</span>
            <input form="edit" type="text" aria-label="First name" placeholder="Name" id="Name" name="Name"
              class="form-control">
  
              <div class="input-group pb-2">
                <span class="input-group-text">Address</span>
                <textarea form="edit" class="form-control" id="Address" name="Address" aria-label="Address"
                  placeholder="Address"></textarea>
              </div>
      
              <div class="input-group pb-2">
                <span class="input-group-text">Phone</span>
                <input form="edit" type="tel" aria-label="Phone" placeholder="000-000-0000" id="Phone" name="Phone"
                  class="form-control">
              </div>
      
              <div class="input-group pb-3">
                <span class="input-group-text">Email</span>
                <input form="edit" type="email" aria-label="Email" placeholder="example@@example.com" id="Email" name="Email"
                  class="form-control">
              </div>
      
              <p class="text-center fs-4 ">Rate</p>
              <div class="container-fluid bg-secondary-subtle border pb-4  rounded">
                <div class="input-group pb-3 pt-3">
                  <span class="input-group-text">Hourly $</span>
                  <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Hourly"
                    placeholder="0.00" id="Hourly" name="Hourly" class="form-control" >
                </div>
      
                <div class="input-group pb-3">
                  <span class="input-group-text">Mileage $</span>
                  <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Mileage"
                    placeholder="0.00" id="Mileage" name="Mileage" class="form-control">
                </div>
      
                <div class="input-group ">
                  <span class="input-group-text">Drive time $</span>
                  <input form="edit" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.01" aria-label="Drivetime"
                    placeholder="0.00" id="Drivetime" name="Drivetime" class="form-control">
                </div>
              </div>
  
  

          </div>
  
  
          <div class="row pt-3">
            <div class="col  ">
              <div class="d-grid gap-2 ">
  
                <button type="submit" class="btn btn-primary" formaction="api/v1/create_or_change_worker">
                  Create
                </button>
              </div>
  
            </div>
          </div>
  
        </form>
      }
    </div>
  </div>
  <script>
    function setTwoNumberDecimal(event) @{
      var hourly = document.getElementById("Hourly");
      hourly.value = parseFloat(parseFloat(hourly.value).toFixed(2));
      var mileage = document.getElementById("Mileage");
      mileage.value = parseFloat(parseFloat(mileage.value).toFixed(2));
      var drivetime = document.getElementById("Drivetime");
      drivetime.value = parseFloat(parseFloat(drivetime.value).toFixed(2));
@}
  </script>
  } } )